In [2]:
import pandas as pd

# Box Office Data Cleaning

In [ ]:
# Reading CSV File

df = pd.read_csv(r"C:\Users\HP\Desktop\Development\enhanced_box_office_data(2000-2024)u.csv")

In [ ]:
# Checking Top 5 Rows of Data

df.head()

,Rank,Release Group,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries
0,1,Mission: Impossible II,546388108,215409889,39.4,330978219,60.6,2000,"Adventure, Action, Thriller",6.126/10,6741.0,en,United States of America
1,2,Gladiator,460583960,187705427,40.8,272878533,59.2,2000,"Action, Drama, Adventure",8.217/10,19032.0,en,"United Kingdom, United States of America"
2,3,Cast Away,429632142,233632142,54.4,196000000,45.6,2000,"Adventure, Drama",7.663/10,11403.0,en,United States of America
3,4,What Women Want,374111707,182811707,48.9,191300000,51.1,2000,"Comedy, Romance",6.45/10,3944.0,en,"United Kingdom, United States of America"
4,5,Dinosaur,349822765,137748063,39.4,212074702,60.6,2000,"Animation, Family, Adventure",6.544/10,2530.0,en,United States of America

In [ ]:
# Data Description & Summary

df.shape
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  5000 non-null   int64
 1   Release Group         5000 non-null   object
 2   $Worldwide            5000 non-null   int64
 3   $Domestic             5000 non-null   int64
 4   Domestic %            5000 non-null   float64
 5   $Foreign              5000 non-null   int64
 6   Foreign %             5000 non-null   float64
 7   Year                  5000 non-null   int64
 8   Genres                4822 non-null   object
 9   Rating                4830 non-null   object
 10  Vote_Count            4830 non-null   float64
 11  Original_Language     4830 non-null   object
 12  Production_Countries  4800 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 507.9+ KB

In [127]:
# Renaming Columns

df = df.rename(columns={
    "Release Group" : "Movie",
    "$Worldwide" : "Worldwide Revenue",
    "$Domestic" : "Domestic Revenue",
    "Domestic %" : "Domestic Share",
    "$Foreign" : "Foreign Revenue",
    "Foreign %" : "Foreign Share",
})

df.columns

Index(['Rank', 'Movie', 'Worldwide Revenue', 'Domestic Revenue',
       'Domestic Share', 'Foreign Revenue', 'Foreign Share', 'Year', 'Genres',
       'Rating', 'Vote_Count', 'Original_Language', 'Production_Countries'],
      dtype='object')

In [ ]:
# Handling Missing Values

df["Genres"] = df["Genres"].fillna("Unknown")
df["Vote_Count"] = df["Vote_Count"].fillna(0).astype(int)
df["Original_Language"] = df["Original_Language"].fillna("Unknown")
df["Production_Countries"] = df["Production_Countries"].fillna("Unknown")

df["Rating"] = df["Rating"].str.replace("/10", "", regex=False).astype(float)
df["Rating"] = df["Rating"].fillna(df["Rating"].median())

df.isna().sum()
df.info()

Rank                    0
Movie                   0
Worldwide Revenue       0
Domestic Revenue        0
Domestic Share          0
Foreign Revenue         0
Foreign Share           0
Year                    0
Genres                  0
Rating                  0
Vote_Count              0
Original_Language       0
Production_Countries    0
dtype: int64

In [ ]:
# Rounding "Rating" Decimal values

df['Rating'] = df['Rating'].round(1)

In [129]:
# Handling Duplicates

df.duplicated().sum()

np.int64(0)

In [ ]:
# Exploding Data 
 
df["Genres"] = df["Genres"].str.split(",")
df["Production_Countries"] = df["Production_Countries"].str.split(",")

df = df.explode("Genres").explode("Production_Countries")
df = df.reset_index(drop=True)

In [ ]:
# Calculated Columns

def performance(row):
    revenue = row['Worldwide Revenue']
    if revenue > 100_000_000:
        return 'Blockbuster'
    elif revenue > 50_000_000:
        return 'Hit'
    elif revenue > 50_000_00:
        return 'Average'
    else:
        return 'Flop'

df['Performance'] = df.apply(performance, axis=1)

def categorize_rating(row):
    rating = row['Rating']
    if rating >= 8.0:
        return "Excellent"
    elif rating >= 6.0:
        return "Good"
    elif rating >= 4.0:
        return "Average"
    else:
        return "Poor"

df['Rating_Category'] = df.apply(categorize_rating, axis=1)

def vote_category(row):
    votes = row['Vote_Count']
    if votes >= 30000:
        return "Highly Popular"
    elif votes >= 10000:
        return "Popular"
    elif votes >= 5000:
        return "Moderate"
    else:
        return "Low"

df['Vote_Category'] = df.apply(vote_category, axis=1)

In [ ]:
# Trimming Extra Spaces

df['Production_Countries'] = df['Production_Countries'].str.strip()
df['Genres'] = df['Genres'].str.strip()
df['Movie'] = df['Movie'].str.strip()

# Replacing Country long names to short form

df['Production_Countries'] = df['Production_Countries'].replace({
    "United States Of America" : "USA",
    "United Kingdom" : "UK",
    "United Arab Emirates" : "UAE"
})

# Checking for Unique "Production_Countries" value to confirm 

df['Production_Countries'].unique()

df

,Rank,Movie,Worldwide Revenue,Domestic Revenue,Domestic Share,Foreign Revenue,Foreign Share,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries,Performance,Rating_Category,Vote_Category
0,1,Mission: Impossible II,546388108,215409889,39.4,330978219,60.6,2000,Adventure,6.126,6741,en,USA,Blockbuster,Good,Moderate
1,1,Mission: Impossible II,546388108,215409889,39.4,330978219,60.6,2000,Action,6.126,6741,en,USA,Blockbuster,Good,Moderate
2,1,Mission: Impossible II,546388108,215409889,39.4,330978219,60.6,2000,Thriller,6.126,6741,en,USA,Blockbuster,Good,Moderate
3,2,Gladiator,460583960,187705427,40.8,272878533,59.2,2000,Action,8.217,19032,en,UK,Blockbuster,Excellent,Popular
4,2,Gladiator,460583960,187705427,40.8,272878533,59.2,2000,Action,8.217,19032,en,USA,Blockbuster,Excellent,Popular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20005,199,Yolo,7241561,2001584,27.6,5239977,72.4,2024,Drama,6.300,70,zh,China,Average,Good,Low
20006,199,Yolo,7241561,2001584,27.6,5239977,72.4,2024,Comedy,6.300,70,zh,China,Average,Good,Low
20007,199,Yolo,7241561,2001584,27.6,5239977,72.4,2024,Action,6.300,70,zh,China,Average,Good,Low
20008,200,Sight,7206741,7206741,100.0,0,0.0,2024,Drama,6.000,23,en,USA,Average,Good,Low
20009,200,Sight,7206741,7206741,100.0,0,0.0,2024,History,6.000,23,en,USA,Average,Good,Low

In [ ]:
# Saving CSV File

df.to_csv(
    r"C:\Users\HP\Desktop\Development\box_office_cleaned.csv",
    index=False,
    encoding='utf-8'
)